@import 'css/home.css';
@import 'css/syntax.css';
@import 'css/header.css';
@import 'css/resume.css';
:root {
  --baseColor: white;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
html, body {
  height: 100%;
}
html, body, p, h1, h2, h3 {
  margin: 0;
}
body {
  font-family: arial, helvetica, sans-serif;
  background-color: color(var(--baseColor) b(+10%));
  overflow-x: hidden;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  &:visited {
    color: #7d5d8a;
  }
}
a > img {
  width: 100%;
  max-width: 20em;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  flex-grow: 1;
  & > main {
    padding: 3em 0 0 0;
    width: 80%;
    margin: 0 auto;
  }
  & .home--main {
    display: flex;
    justify-content: space-between;
    width: 90%;
    @media screen and (width <= 960px) {
      flex-wrap: wrap-reverse;
      & > section {
        width: 100%;
      }
    }
  }
}
.footer {
  border-top: 1px solid #000;
  padding: 2em 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2em;
  & > * {
    margin-left: 10%;
  }
  @media print {
    display: none;
  }
}
.posts {
  margin-top: 2em;
  & > li {
    margin-bottom: 1em;
  }
}
.info {
  color: #555;
  font-size: 14px;
  font-style: italic;
}
div.sourceCode {
  padding: 8px;
  margin-bottom: 1em;
  background-color: rgb(250, 250, 250);
  border: 1px solid rgb(200, 200, 200);
  overflow: auto;
  & pre {
    margin: 0;
  }
}
