ol {
  & > li {
    margin: 1em 0;
    & > ul {
      margin: 1em;
      list-style-type: circle;
      line-height: 2;
    }
  }
}

main > blockquote {
  border-left: 2px solid rgba(55, 55, 55, 0.6);
  font-style: italic;
  font-size: 1.2em;
  padding-left: 1em;
}
main > h2 {
  margin: 0.5em 0;
}
