<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>montagy - $title$</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css" />
    <meta name="keywords" content="montagy blog home haskell programming"/>
    <meta name="description" content="a haskell programmer's blog"/>
  </head>
  <body>
    <div class="container">
      $partial("templates/header.html")$
      <main>
        <h1>$title$</h1>
        $body$
      </main>
    </div>
    $partial("templates/footer.html")$
  </body>
</html>
