<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Montagy</title>
    <link rel="stylesheet" href="/css/index.css" type="text/css" media="all" />
    <meta name="keywords" content="montagy blog home haskell programming"/>
    <meta name="description" content="a haskell programmer's blog"/>
  </head>
  <body>
    <div class="container">
      $partial("templates/header.html")$
      <main class="home--main">
        <section class="blog__wrapper cut__line">
          <h2>最新文章</h2>
          $partial("templates/post-list.html")$
        </section>
        <section class="about">
          <h2>Hi I'm Montagy</h2>
          <p>我从2014年开始用Haskell编程,后来陆续学了javascript,php,python。现在主要使用javascript,想找份前端开发的工作。
            <ul style="list-style: decimal; padding-left: 1em">
              <li>熟练使用html5,css3；</li>
              <li>熟练使用react+redux框架下的开发;</li>
              <li>注重学习，注重效率，注重整洁，有广泛涉猎。</li>
            </ul>
          </p>
          <div class="social__contact">
            <h3>联系方式:</h3>
            <ul>
              <li class="social__icon">
                <span class="phone">17085526609</span>
                <img src="/images/phone.svg" alt="17085526609">
              </li>
              <li class="social__icon">
                <span class="wechat">350921634</span>
                <img src="/images/wechat.svg" alt="350921634">
              </li>
            </ul>
          </div>
        </section>
      </main>
    </div>
    $partial("templates/footer.html")$
  </body>
</html>
